.dialogueFooter{
    display: flex;
    position: fixed;
    z-index: 99;
    padding: 5px 0px;
    background-color: #fff;
    bottom: 0px;
    width: 100%;
    box-sizing: border-box;
}
.dialogueFooter .am-list-item{
    flex: 3;
}
.dialogueFooter .btns{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15px;
    
}
.dialogueFooter .btns span{
    display: block;
    line-height: 30px;
    width: 100%;
    background: #108ee9;
    border-radius: 5px;
    text-align: center;
    color: #fff;
}
.dialogueFooter textarea{
    padding-left: 15px;
}
.dialogueFooter .am-textarea-control{
    border: 1px solid #ccc;
    border-radius: 10px;
}